USE [master]
GO
/****** Object:  Database [EMV_Bos]    Script Date: 10/01/2020 6:26:46 PM ******/
CREATE DATABASE [EMV_Bos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMV_Bos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EMV_Bos.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMV_Bos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EMV_Bos_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMV_Bos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMV_Bos]
GO
/****** Object:  User [EMV_USR]    Script Date: 10/01/2020 6:26:50 PM ******/
CREATE USER [EMV_USR] FOR LOGIN [EMV_USR] WITH DEFAULT_SCHEMA=[EMV_USR]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [EMV_USR]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [EMV_USR]
GO
ALTER ROLE [db_datareader] ADD MEMBER [EMV_USR]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [EMV_USR]
GO
/****** Object:  Schema [EMV_USR]    Script Date: 10/01/2020 6:26:52 PM ******/
CREATE SCHEMA [EMV_USR]
GO
/****** Object:  Table [dbo].[AutoNumber]    Script Date: 10/01/2020 6:26:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoNumber](
	[ClientID] [nvarchar](max) NULL,
	[Client_Prefix] [nvarchar](max) NULL,
	[SessionId] [nvarchar](max) NULL,
	[ReceiptId] [nvarchar](max) NULL,
	[VoucherNo] [nvarchar](250) NULL,
	[ProjectID] [nvarchar](250) NULL,
	[Project_Prefix] [nvarchar](250) NULL,
	[EmployeeId] [nvarchar](250) NULL,
	[Employee_Prefix] [nvarchar](250) NULL,
	[WeekOff] [nvarchar](250) NULL,
	[MsgSendDate] [date] NULL,
	[ItemType_ID] [nvarchar](max) NULL,
	[CallRefrenceNo] [nvarchar](300) NULL,
	[PlanCode] [nvarchar](250) NULL,
	[DistributorID_Prefix] [nvarchar](250) NULL,
	[Distributor_ID] [nvarchar](250) NULL,
	[ReturnID] [nvarchar](250) NULL,
	[ListID] [nvarchar](300) NULL,
	[ProductId] [nvarchar](250) NULL,
	[DistributorID] [nvarchar](300) NULL,
	[Distributor_Prefix] [nvarchar](300) NULL,
	[SubDistributorID] [nvarchar](300) NULL,
	[SubDistributor_Prefix] [nvarchar](300) NULL,
	[RetailerId] [nvarchar](300) NULL,
	[Retailer_Prefix] [nvarchar](300) NULL,
	[SMSAPI] [nvarchar](max) NULL,
	[SMSSenderId] [nvarchar](max) NULL,
	[ComplaintPrefix] [nvarchar](250) NULL,
	[ComplaintId] [nvarchar](250) NULL,
	[Recharge_APIPer] [nvarchar](250) NULL,
	[Flight_APIPer] [nvarchar](250) NULL,
	[PAN_APIPer] [nvarchar](250) NULL,
	[MoneyTransfer_APIPer] [nvarchar](250) NULL,
	[GST_APIPer] [nvarchar](250) NULL,
	[BusBooking_APIPer] [nvarchar](250) NULL,
	[Rail_APIPer] [nvarchar](250) NULL,
	[TransId] [nvarchar](250) NULL,
	[RefrenceID] [nvarchar](250) NULL,
	[ServiceCharge] [nvarchar](250) NULL,
	[Amt_Transfer_TransID] [nvarchar](250) NULL,
	[RechargeAPI_Status] [nvarchar](250) NULL,
	[PANCardAPI_Status] [nvarchar](250) NULL,
	[MoneyTransferAPI_Status] [nvarchar](250) NULL,
	[AEPS_API_Status] [nvarchar](250) NULL,
	[CompanyCode_Prefix] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Customer_Prefix] [nvarchar](250) NULL,
	[CustomerID] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Admin_BankAccount_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Admin_BankAccount_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AccountHolder_Name] [nvarchar](max) NULL,
	[AccountNo] [nvarchar](250) NOT NULL,
	[IFSC_Code] [nvarchar](250) NOT NULL,
	[Bank_Name] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
	[AccountType] [nvarchar](max) NULL,
	[PanNo] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_AEPS_CheckStatus]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_AEPS_CheckStatus](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Txntype] [nvarchar](500) NULL,
	[APITimestamp] [nvarchar](500) NULL,
	[BcId] [nvarchar](500) NULL,
	[TerminalId] [nvarchar](500) NULL,
	[TransactionId] [nvarchar](500) NULL,
	[Amount] [nvarchar](500) NULL,
	[TxnStatus] [nvarchar](500) NULL,
	[BankIIN] [nvarchar](500) NULL,
	[TxnMedium] [nvarchar](500) NULL,
	[EndCustMobile] [nvarchar](500) NULL,
	[RecordDateTime] [datetime] NULL,
	[EntryBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_AEPS_UpdateStatus]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_AEPS_UpdateStatus](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TransactionId] [nvarchar](500) NULL,
	[VenderId] [nvarchar](500) NULL,
	[BcCode] [nvarchar](500) NULL,
	[APIStatus] [nvarchar](500) NULL,
	[rrn] [nvarchar](500) NULL,
	[RecordDateTime] [datetime] NULL,
	[EntryBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_API_Log_Records]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_API_Log_Records](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[API_Name] [nvarchar](250) NULL,
	[Trans_ID] [nvarchar](250) NULL,
	[Trans_DateTime] [datetime] NULL,
	[Request_String] [nvarchar](max) NULL,
	[Response_String] [nvarchar](max) NULL,
	[AgentID] [nvarchar](250) NULL,
	[AgentType] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_APICommissionSettigs]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_APICommissionSettigs](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AgentType] [nvarchar](250) NULL,
	[RegistrationID] [nvarchar](250) NULL,
	[Recharge_APIPer] [numeric](18, 2) NULL,
	[Flight_APIPer] [numeric](18, 2) NULL,
	[PAN_APIPer] [numeric](18, 2) NULL,
	[MoneyTransfer_APIPer] [numeric](18, 2) NULL,
	[GST_APIPer] [numeric](18, 2) NULL,
	[BusBooking_APIPer] [numeric](18, 2) NULL,
	[Rail_APIPer] [numeric](18, 2) NULL,
	[updatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_APIVSCategory_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_APIVSCategory_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProductService] [nvarchar](250) NULL,
	[Category] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CanChange] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_APIVSCategory_Master_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_APIVSCategory_Master_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProductService] [nvarchar](250) NULL,
	[Category] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_BankDetails]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_BankDetails](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AgentType] [nvarchar](250) NULL,
	[RegistrationId] [nvarchar](250) NULL,
	[RegistrationDate] [date] NULL,
	[BankName] [nvarchar](250) NULL,
	[BranchName] [nvarchar](250) NULL,
	[AccountType] [nvarchar](250) NULL,
	[IFSCCode] [nvarchar](250) NULL,
	[AccountNo] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[RecordDateTime] [datetime] NULL,
	[SetDefault] [nvarchar](250) NULL,
	[AccountHolderName] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_ClientRegistration]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_ClientRegistration](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RegisterationDate] [date] NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[CompanyName] [nvarchar](400) NULL,
	[CompanyHead] [nvarchar](400) NULL,
	[ContactPerson] [nvarchar](400) NULL,
	[Companylogo] [nvarchar](500) NULL,
	[Address_1] [nvarchar](500) NULL,
	[Address_2] [nvarchar](500) NULL,
	[Address_3] [nvarchar](500) NULL,
	[PinCode] [nvarchar](250) NULL,
	[State] [nvarchar](250) NULL,
	[District] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Country] [nvarchar](250) NULL,
	[PhoneNo_1] [nvarchar](250) NULL,
	[PhoneNo_2] [nvarchar](250) NULL,
	[Mobile_No] [nvarchar](250) NULL,
	[Email_ID] [nvarchar](250) NULL,
	[TinNo] [nvarchar](250) NULL,
	[CinNo] [nvarchar](250) NULL,
	[GSTNo] [nvarchar](250) NULL,
	[Status] [nvarchar](250) NULL,
	[ClientPassword] [nvarchar](250) NULL,
	[LastLogin] [datetime] NULL,
	[ClientRole] [nvarchar](250) NULL,
	[IsNewDatabase] [nvarchar](250) NULL,
	[DatabaseName] [nvarchar](250) NULL,
	[ChangeTheme] [nvarchar](400) NULL,
	[Record_DateTime] [datetime] NULL,
	[EmpCode] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[WebRedirectUrl] [nvarchar](250) NULL,
	[ClientPin] [nvarchar](250) NULL,
	[CreditBalnceLimit] [numeric](18, 0) NULL,
	[RechargeAPI_Status] [nvarchar](250) NULL,
	[PANCardAPI_Status] [nvarchar](250) NULL,
	[MoneyTransferAPI_Status] [nvarchar](250) NULL,
	[AEPS_API_Status] [nvarchar](250) NULL,
	[HoldAmt] [numeric](18, 2) NULL,
	[HoldAmtRemarks] [nvarchar](500) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_CommissionSlabwise]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_CommissionSlabwise](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[APIName] [nvarchar](250) NULL,
	[FromAmount] [numeric](18, 0) NULL,
	[ToAmount] [numeric](18, 0) NULL,
	[Dis_CommissionType] [nvarchar](250) NULL,
	[Dis_Commission] [numeric](18, 2) NULL,
	[Sub_Dis_CommissionType] [nvarchar](250) NULL,
	[Sub_Dis_Commission] [numeric](18, 2) NULL,
	[Retailer_CommissionType] [nvarchar](250) NULL,
	[Retailer_Commission] [numeric](18, 2) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[Customer_CommissionType] [nvarchar](250) NULL,
	[Customer_Commission] [numeric](18, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_CommissionSlabwise_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_CommissionSlabwise_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[APIName] [nvarchar](250) NULL,
	[FromAmount] [numeric](18, 0) NULL,
	[ToAmount] [numeric](18, 0) NULL,
	[SA_CommissionType] [nvarchar](250) NULL,
	[SA_Commission] [numeric](18, 2) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_CommissionSlabwiseVsAdmin_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_CommissionSlabwiseVsAdmin_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AdminID] [nvarchar](250) NULL,
	[APIName] [nvarchar](250) NULL,
	[FromAmount] [numeric](18, 0) NULL,
	[ToAmount] [numeric](18, 0) NULL,
	[Admin_CommissionType] [nvarchar](250) NULL,
	[Admin_Commission] [numeric](18, 2) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Complaint_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Complaint_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ComplaintDate] [date] NULL,
	[ComplaintID] [nvarchar](250) NULL,
	[kCode] [nvarchar](250) NULL,
	[kCodeType] [nvarchar](250) NULL,
	[Product] [nvarchar](250) NULL,
	[Problem] [nvarchar](250) NULL,
	[Complaint] [nvarchar](max) NULL,
	[Attachment] [nvarchar](250) NULL,
	[ComplaintStatus] [nvarchar](250) NULL,
	[Remarks] [nvarchar](250) NULL,
	[AllotedTo] [nvarchar](250) NULL,
	[AllotedDateTime] [datetime] NULL,
	[ClosedDateTime] [datetime] NULL,
	[ClosedBy] [nvarchar](250) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Complaint_Master_Chat]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Complaint_Master_Chat](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ComplaintID] [nvarchar](250) NOT NULL,
	[MessageFrom] [nvarchar](250) NOT NULL,
	[Chat_Message] [nvarchar](max) NULL,
	[RecordDateTime] [datetime] NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Complaint_Master_Chat_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Complaint_Master_Chat_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ComplaintID] [nvarchar](250) NOT NULL,
	[MessageFrom] [nvarchar](250) NOT NULL,
	[Chat_Message] [nvarchar](500) NULL,
	[RecordDateTime] [datetime] NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Complaint_Master_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Complaint_Master_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ComplaintDate] [date] NULL,
	[ComplaintID] [nvarchar](250) NULL,
	[kCode] [nvarchar](250) NULL,
	[kCodeType] [nvarchar](250) NULL,
	[Product] [nvarchar](250) NULL,
	[Problem] [nvarchar](250) NULL,
	[Complaint] [nvarchar](500) NULL,
	[Attachment] [nvarchar](250) NULL,
	[ComplaintStatus] [nvarchar](250) NULL,
	[Remarks] [nvarchar](250) NULL,
	[AllotedTo] [nvarchar](250) NULL,
	[AllotedDateTime] [datetime] NULL,
	[ClosedDateTime] [datetime] NULL,
	[ClosedBy] [nvarchar](250) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_ComplaintVSProblem_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_ComplaintVSProblem_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](250) NULL,
	[ProductProblem] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_ComplaintVSProblem_Master_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_ComplaintVSProblem_Master_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](250) NULL,
	[ProductProblem] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Dis_SubDis_Retailer_Registration]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Dis_SubDis_Retailer_Registration](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AgentType] [nvarchar](250) NULL,
	[RegistrationId] [nvarchar](250) NULL,
	[RegistrationDate] [date] NULL,
	[AgencyName] [nvarchar](250) NULL,
	[PanCardNumber] [nvarchar](250) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[EmailID] [nvarchar](250) NULL,
	[MobileNo] [nvarchar](250) NULL,
	[DOB] [nvarchar](250) NOT NULL,
	[BusinessType] [nvarchar](250) NULL,
	[AlternateMobileNo] [nvarchar](250) NULL,
	[OfficeAddress] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[Pincode] [nvarchar](250) NULL,
	[State] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[AddharCardNo] [nvarchar](250) NULL,
	[GSTNO] [nvarchar](250) NULL,
	[WebSite] [nvarchar](250) NULL,
	[UploadPanCard] [nvarchar](500) NULL,
	[UploadAddharCard_Front] [nvarchar](500) NULL,
	[UploadAddharCard_Back] [nvarchar](500) NULL,
	[UploadOtherProof] [nvarchar](500) NULL,
	[UploadPhoto] [nvarchar](500) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[RecordDateTime] [datetime] NULL,
	[AgentPassword] [nvarchar](250) NULL,
	[ChangeTheme] [nvarchar](250) NULL,
	[RefrenceID] [nvarchar](250) NULL,
	[RefrenceType] [nvarchar](250) NULL,
	[CreditBalnceLimit] [numeric](18, 0) NULL,
	[TransactionPin] [nvarchar](250) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[EmpCode] [nvarchar](250) NULL,
	[RechargeAPI_Status] [nvarchar](250) NULL,
	[PANCardAPI_Status] [nvarchar](250) NULL,
	[MoneyTransferAPI_Status] [nvarchar](250) NULL,
	[AEPS_API_Status] [nvarchar](250) NULL,
	[District] [nvarchar](250) NULL,
	[BcCode] [nvarchar](250) NULL,
	[StateID] [nvarchar](250) NULL,
	[DistrictID] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[Ref_Code] [nvarchar](250) NULL,
	[HoldAmt] [numeric](18, 2) NULL,
	[HoldAmtRemarks] [nvarchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Dis_SubDis_Retailer_Registration_Deleted]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Dis_SubDis_Retailer_Registration_Deleted](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AgentType] [nvarchar](250) NULL,
	[RegistrationId] [nvarchar](250) NULL,
	[RegistrationDate] [date] NULL,
	[AgencyName] [nvarchar](250) NULL,
	[PanCardNumber] [nvarchar](250) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[EmailID] [nvarchar](250) NULL,
	[MobileNo] [nvarchar](250) NULL,
	[DOB] [nvarchar](250) NOT NULL,
	[BusinessType] [nvarchar](250) NULL,
	[AlternateMobileNo] [nvarchar](250) NULL,
	[OfficeAddress] [nvarchar](500) NULL,
	[PermanentAddress] [nvarchar](500) NULL,
	[Pincode] [nvarchar](250) NULL,
	[State] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[AddharCardNo] [nvarchar](250) NULL,
	[GSTNO] [nvarchar](250) NULL,
	[WebSite] [nvarchar](250) NULL,
	[UploadPanCard] [nvarchar](500) NULL,
	[UploadAddharCard_Front] [nvarchar](500) NULL,
	[UploadAddharCard_Back] [nvarchar](500) NULL,
	[UploadOtherProof] [nvarchar](500) NULL,
	[UploadPhoto] [nvarchar](500) NULL,
	[AgentPassword] [nvarchar](250) NULL,
	[ChangeTheme] [nvarchar](250) NULL,
	[RefrenceID] [nvarchar](250) NULL,
	[RefrenceType] [nvarchar](250) NULL,
	[CreditBalnceLimit] [numeric](18, 0) NULL,
	[TransactionPin] [nvarchar](250) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[EmpCode] [nvarchar](250) NULL,
	[RechargeAPI_Status] [nvarchar](250) NULL,
	[PANCardAPI_Status] [nvarchar](250) NULL,
	[MoneyTransferAPI_Status] [nvarchar](250) NULL,
	[AEPS_API_Status] [nvarchar](250) NULL,
	[District] [nvarchar](250) NULL,
	[BcCode] [nvarchar](250) NULL,
	[StateID] [nvarchar](250) NULL,
	[DistrictID] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[Ref_Code] [nvarchar](250) NULL,
	[HoldAmt] [numeric](18, 2) NULL,
	[HoldAmtRemarks] [nvarchar](500) NULL,
	[UpdatedBy] [nvarchar](500) NULL,
	[UpdatedOn] [datetime] NULL,
	[RecordDateTime] [datetime] NULL,
	[DeletedBy] [nvarchar](500) NULL,
	[DeletedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_GST_Refund_Details]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_GST_Refund_Details](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RefrenceID] [nvarchar](250) NULL,
	[RegistrationId] [nvarchar](250) NULL,
	[GST_Month] [nvarchar](250) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[Remarks] [nvarchar](500) NULL,
	[CommAmt] [numeric](18, 2) NULL,
	[GSTAmt] [numeric](18, 2) NULL,
	[GrossAmt] [numeric](18, 2) NULL,
	[TDS_Amt] [numeric](18, 2) NULL,
	[CreditBalance] [numeric](18, 2) NULL,
	[ApprovedBy] [nvarchar](250) NULL,
	[ApprovedDateTime] [datetime] NULL,
	[ApporvedStatus] [nvarchar](250) NULL,
	[ApporveRemakrs] [nvarchar](500) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_InstaMojo_Gateway_Request_Details]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_InstaMojo_Gateway_Request_Details](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Request_DateTime] [datetime] NULL,
	[Request_Transaction_Id] [nvarchar](350) NULL,
	[Request_name] [nvarchar](350) NULL,
	[Request_email] [nvarchar](350) NULL,
	[Request_phone] [nvarchar](350) NULL,
	[Request_amount] [nvarchar](350) NULL,
	[Request_redirect_url] [nvarchar](350) NULL,
	[Request_CompanyCode] [nvarchar](350) NULL,
	[Request_Purpose] [nvarchar](350) NULL,
	[Request_AgentID] [nvarchar](350) NULL,
	[Request_TransID] [nvarchar](350) NULL,
	[Response_DateTime] [datetime] NULL,
	[Response_Payment_Id] [nvarchar](350) NULL,
	[Response_Payment_Status] [nvarchar](350) NULL,
	[Response_Id] [nvarchar](350) NULL,
	[Response_Transaction_Id] [nvarchar](350) NULL,
	[Response_Action_Taken] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[Reference_Id] [nvarchar](250) NULL,
	[Reference_Type] [nvarchar](250) NULL,
	[Ref_Plan_Code] [nvarchar](250) NULL,
	[TransIpAddress] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_MakePayemnts_Details]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_MakePayemnts_Details](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RefrenceID] [nvarchar](250) NULL,
	[PaymentMode] [nvarchar](250) NULL,
	[PaymentDate] [date] NULL,
	[DepositBankName] [nvarchar](250) NULL,
	[BranchCode_ChecqueNo] [nvarchar](250) NULL,
	[Remarks] [nvarchar](250) NULL,
	[TransactionID] [nvarchar](250) NULL,
	[DocumentPath] [nvarchar](250) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[ApprovedBy] [nvarchar](max) NULL,
	[ApprovedDateTime] [datetime] NULL,
	[ApporvedStatus] [nvarchar](250) NULL,
	[RegistrationId] [nvarchar](250) NULL,
	[ApporveRemakrs] [nvarchar](max) NULL,
	[Amount] [numeric](18, 2) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_MakePayemnts_Details_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_MakePayemnts_Details_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RefrenceID] [nvarchar](250) NULL,
	[PaymentMode] [nvarchar](250) NULL,
	[PaymentDate] [date] NULL,
	[DepositBankName] [nvarchar](250) NULL,
	[BranchCode_ChecqueNo] [nvarchar](250) NULL,
	[Remarks] [nvarchar](250) NULL,
	[TransactionID] [nvarchar](250) NULL,
	[DocumentPath] [nvarchar](250) NULL,
	[ApprovedBy] [nvarchar](250) NULL,
	[ApprovedDateTime] [datetime] NULL,
	[ApporvedStatus] [nvarchar](250) NULL,
	[RegistrationId] [nvarchar](250) NULL,
	[ApporveRemakrs] [nvarchar](500) NULL,
	[Amount] [numeric](18, 2) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_MoneyTransfer_API]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_MoneyTransfer_API](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TransferDate] [date] NULL,
	[OrderNo] [nvarchar](250) NULL,
	[RefrenceNo] [nvarchar](250) NULL,
	[TranscationId] [nvarchar](250) NULL,
	[CustomerID] [nvarchar](250) NULL,
	[MobileNo] [nvarchar](250) NULL,
	[Amount] [numeric](18, 0) NULL,
	[BankName] [nvarchar](250) NULL,
	[Method] [nvarchar](250) NULL,
	[Process] [nvarchar](250) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[APIStatus] [nvarchar](250) NULL,
	[APIMessage] [nvarchar](max) NULL,
	[TransId] [nvarchar](250) NULL,
	[IFSC] [nvarchar](250) NULL,
	[AccountNo] [nvarchar](250) NULL,
	[Receipent] [nvarchar](250) NULL,
	[ReceipentId] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[TransIpAddress] [nvarchar](250) NULL,
	[Refund_Status] [nvarchar](250) NULL,
	[Refund_TransID] [nvarchar](250) NULL,
	[Refund_Req_Status] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bos_Notification_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bos_Notification_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NotificationID] [nvarchar](250) NULL,
	[NotificationDate] [date] NULL,
	[AgentType] [nvarchar](250) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[NotificationPic] [nvarchar](350) NULL,
	[RecordDatetime] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bos_Notification_Master_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bos_Notification_Master_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NotificationID] [nvarchar](250) NULL,
	[NotificationDate] [date] NULL,
	[AgentType] [nvarchar](250) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[NotificationPic] [nvarchar](350) NULL,
	[RecordDatetime] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_OperatorWiseCommission]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_OperatorWiseCommission](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[APIName] [nvarchar](250) NULL,
	[Category] [nvarchar](250) NULL,
	[Code] [nvarchar](250) NULL,
	[OperatorName] [nvarchar](250) NULL,
	[Dis_CommissionType] [nvarchar](250) NULL,
	[Dis_Commission] [numeric](18, 2) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[Sub_Dis_CommissionType] [nvarchar](250) NULL,
	[Sub_Dis_Commission] [numeric](18, 2) NULL,
	[Retailer_CommissionType] [nvarchar](250) NULL,
	[Retailer_Commission] [numeric](18, 2) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[Customer_CommissionType] [nvarchar](250) NULL,
	[Customer_Commission] [numeric](18, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_OperatorWiseCommission_Agents]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_OperatorWiseCommission_Agents](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AgentType] [nvarchar](250) NULL,
	[RegistrationID] [nvarchar](250) NULL,
	[APIName] [nvarchar](250) NULL,
	[Category] [nvarchar](250) NULL,
	[Code] [nvarchar](250) NULL,
	[OperatorName] [nvarchar](250) NULL,
	[CommissionType] [nvarchar](250) NULL,
	[Commission] [numeric](18, 2) NULL,
	[RecordDatetime] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_OperatorWiseCommission_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_OperatorWiseCommission_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[APIName] [nvarchar](250) NULL,
	[Category] [nvarchar](250) NULL,
	[Code] [nvarchar](250) NULL,
	[OperatorName] [nvarchar](250) NULL,
	[SA_CommissionType] [nvarchar](250) NULL,
	[SA_Commission] [numeric](18, 2) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AdminID] [nvarchar](250) NULL,
	[APIName] [nvarchar](250) NULL,
	[Category] [nvarchar](250) NULL,
	[Code] [nvarchar](250) NULL,
	[OperatorName] [nvarchar](250) NULL,
	[Admin_CommissionType] [nvarchar](250) NULL,
	[Admin_Commission] [numeric](18, 2) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Pan_Card_API]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Pan_Card_API](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CoupanType] [nvarchar](250) NULL,
	[Amount] [numeric](18, 0) NULL,
	[TotalCoupan] [numeric](18, 0) NULL,
	[Remarks] [nvarchar](max) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[TotalAmount] [numeric](18, 0) NULL,
	[API_Status] [nvarchar](250) NULL,
	[API_Message] [nvarchar](500) NULL,
	[TransId] [nvarchar](250) NULL,
	[AgentID] [nvarchar](250) NULL,
	[API_TransId] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[TransIpAddress] [nvarchar](250) NULL,
	[Refund_Status] [nvarchar](250) NULL,
	[Refund_TransID] [nvarchar](250) NULL,
	[Refund_Req_Status] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_ProductServiceMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_ProductServiceMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Commission] [numeric](18, 2) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[ProductType] [nvarchar](250) NULL,
	[ContainCategory] [nvarchar](250) NULL,
	[CanChange] [nvarchar](250) NULL,
	[CommissionType] [nvarchar](250) NULL,
	[ServiceType] [nvarchar](250) NULL,
	[ServiceCharge] [numeric](18, 2) NULL,
	[Sub_Dis_CommissionType] [nvarchar](250) NULL,
	[Sub_Dis_Commission] [numeric](18, 2) NULL,
	[Retailer_CommissionType] [nvarchar](250) NULL,
	[Retailer_Commission] [numeric](18, 2) NULL,
	[SlabApplicable] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[Customer_CommissionType] [nvarchar](250) NULL,
	[Customer_Commission] [numeric](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_ProductServiceMaster_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_ProductServiceMaster_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[ProductType] [nvarchar](250) NULL,
	[ContainCategory] [nvarchar](250) NULL,
	[SlabApplicable] [nvarchar](250) NULL,
	[SA_CommissionType] [nvarchar](250) NULL,
	[SA_Commission] [numeric](18, 2) NULL,
	[ServiceType] [nvarchar](250) NULL,
	[ServiceCharge] [numeric](18, 2) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_ProductServiceVsAdmin_SA]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_ProductServiceVsAdmin_SA](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AdminID] [nvarchar](250) NULL,
	[Title] [nvarchar](max) NULL,
	[ProductType] [nvarchar](250) NULL,
	[ContainCategory] [nvarchar](250) NULL,
	[SlabApplicable] [nvarchar](250) NULL,
	[Admin_CommissionType] [nvarchar](250) NULL,
	[Admin_Commission] [numeric](18, 2) NULL,
	[ServiceType] [nvarchar](250) NULL,
	[ServiceCharge] [numeric](18, 2) NULL,
	[ActiveStatus] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Recharge_API]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Recharge_API](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Recharge_ServiceType] [nvarchar](250) NULL,
	[Recharge_Operator] [nvarchar](250) NULL,
	[Recharge_MobileNo_CaNo] [nvarchar](250) NULL,
	[Recharge_Amount] [nvarchar](250) NULL,
	[Recharge_PayableAmount] [nvarchar](250) NULL,
	[Recharge_Date] [datetime] NULL,
	[API_orderId] [nvarchar](250) NULL,
	[API_status] [nvarchar](250) NULL,
	[API_TransId] [nvarchar](250) NULL,
	[API_urid] [nvarchar](250) NULL,
	[API_mobile] [nvarchar](250) NULL,
	[API_amount] [nvarchar](250) NULL,
	[API_operatorId] [nvarchar](250) NULL,
	[API_error_code] [nvarchar](250) NULL,
	[API_service] [nvarchar](250) NULL,
	[API_bal] [nvarchar](250) NULL,
	[API_commissionBal] [nvarchar](250) NULL,
	[API_resText] [nvarchar](250) NULL,
	[API_billAmount] [nvarchar](250) NULL,
	[API_billName] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[RetailerID] [nvarchar](250) NULL,
	[TransId] [nvarchar](250) NULL,
	[Refund_Status] [nvarchar](250) NULL,
	[Refund_TransID] [nvarchar](250) NULL,
	[Gateway] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[TransIpAddress] [nvarchar](250) NULL,
	[Refund_Req_Status] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Ref_Code_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Ref_Code_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Ref_Code] [nvarchar](250) NULL,
	[AmtToDebit] [numeric](18, 2) NULL,
	[Dis_CommissionType] [nvarchar](250) NULL,
	[Dis_Commission] [numeric](18, 2) NULL,
	[Sub_Dis_CommissionType] [nvarchar](250) NULL,
	[Sub_Dis_Commission] [numeric](18, 2) NULL,
	[Retailer_CommissionType] [nvarchar](250) NULL,
	[Retailer_Commission] [numeric](18, 2) NULL,
	[Customer_CommissionType] [nvarchar](250) NULL,
	[Customer_Commission] [numeric](18, 2) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[instamojo_Pay_Link] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_Refund_Request_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_Refund_Request_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RequestDate] [date] NULL,
	[RequestID] [nvarchar](250) NULL,
	[kCode] [nvarchar](250) NULL,
	[kCodeType] [nvarchar](250) NULL,
	[TransType] [nvarchar](250) NULL,
	[TransID] [nvarchar](250) NULL,
	[Amount] [numeric](18, 2) NULL,
	[Remarks] [nvarchar](250) NULL,
	[ApprovedBy] [nvarchar](250) NULL,
	[ApprovedDateTime] [datetime] NULL,
	[ApporvedStatus] [nvarchar](250) NULL,
	[ApporveRemarks] [nvarchar](500) NULL,
	[Refund_TransID] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_TransferAmountToAgents]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_TransferAmountToAgents](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TransactionDate] [date] NULL,
	[TransferFrom] [nvarchar](250) NOT NULL,
	[TransferTo] [nvarchar](250) NOT NULL,
	[TransferAmt] [numeric](18, 2) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[Remark] [nvarchar](max) NULL,
	[TransferFromMsg] [nvarchar](250) NULL,
	[Amount_Type] [nvarchar](250) NULL,
	[TransferToMsg] [nvarchar](250) NULL,
	[Amt_Transfer_TransID] [nvarchar](250) NULL,
	[Actual_Commission_Amt] [numeric](18, 2) NULL,
	[GSTAmt] [numeric](18, 2) NULL,
	[Commission_Without_GST] [numeric](18, 2) NULL,
	[TDS_Amt] [numeric](18, 2) NULL,
	[Net_Commission_Amt] [numeric](18, 2) NULL,
	[Ref_TransID] [nvarchar](250) NULL,
	[Actual_Transaction_Amount] [numeric](18, 2) NULL,
	[API_TransId] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[TransIpAddress] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOS_TransferAmountToAgents_New]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOS_TransferAmountToAgents_New](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TransactionDate] [date] NULL,
	[TransferFrom] [nvarchar](250) NOT NULL,
	[TransferTo] [nvarchar](250) NOT NULL,
	[TransferAmt] [numeric](18, 2) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[Remark] [nvarchar](max) NULL,
	[TransferFromMsg] [nvarchar](250) NULL,
	[Amount_Type] [nvarchar](250) NULL,
	[TransferToMsg] [nvarchar](250) NULL,
	[Amt_Transfer_TransID] [nvarchar](250) NULL,
	[Actual_Commission_Amt] [numeric](18, 2) NULL,
	[GSTAmt] [numeric](18, 2) NULL,
	[Commission_Without_GST] [numeric](18, 2) NULL,
	[TDS_Amt] [numeric](18, 2) NULL,
	[Net_Commission_Amt] [numeric](18, 2) NULL,
	[Ref_TransID] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_AreaMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_AreaMaster](
	[Area_Name] [nvarchar](255) NULL,
	[Pincode] [nvarchar](255) NULL,
	[Country_Name] [nvarchar](255) NULL,
	[District_Name] [nvarchar](255) NULL,
	[State_Name] [nvarchar](255) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_BillingCycleMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_BillingCycleMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Billig_Cycle] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [date] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_BranchMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_BranchMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NOT NULL,
	[BranchName] [nvarchar](max) NULL,
	[Company] [nvarchar](max) NULL,
	[BranchHead] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[Address_1] [nvarchar](max) NULL,
	[Address_2] [nvarchar](max) NULL,
	[Address_3] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Area] [nvarchar](max) NULL,
	[PinCode] [nvarchar](max) NULL,
	[PhoneNo_1] [nvarchar](max) NULL,
	[Phoneno_2] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[FaxNo] [nvarchar](max) NULL,
	[UpdatedOn] [date] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[Recordstatus] [nvarchar](250) NOT NULL,
	[CinNo] [nvarchar](250) NULL,
	[SubCompanyName] [nvarchar](max) NULL,
	[ReasonForDeletion] [nvarchar](max) NULL,
	[DeletedBy] [nvarchar](max) NULL,
	[DeletedOn] [datetime] NULL,
	[Login_IPAddress] [nvarchar](250) NULL,
	[Branch_Opening_Date] [date] NULL,
	[BranchType] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_CompanyTypeMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CompanyTypeMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Company_Type] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_CountryMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_CountryMaster](
	[Country_Name] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_DistrictMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_DistrictMaster](
	[Country_Name] [nvarchar](max) NULL,
	[State_Name] [nvarchar](max) NULL,
	[District_Name] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_EmployeeSkillMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_EmployeeSkillMaster](
	[Employee_Skill] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_EmployeeTypeMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_EmployeeTypeMaster](
	[Employee_Type] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_Group_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_Group_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Group_Name] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_Login_Details]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_Login_Details](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](300) NULL,
	[User_ID] [nvarchar](300) NULL,
	[User_Password] [nvarchar](300) NULL,
	[User_Type] [nvarchar](300) NULL,
	[AccountStatus] [nvarchar](300) NULL,
	[User_CreationDate] [datetime] NULL,
	[LoggedinStatus] [nvarchar](300) NULL,
	[RecordStatus] [nvarchar](300) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](300) NULL,
	[Fromtime] [nvarchar](max) NULL,
	[Totime] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[TotalTime] [numeric](18, 0) NULL,
	[LastLoginTime] [datetime] NULL,
	[EmailId] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[ChangeTheme] [nvarchar](max) NULL,
	[Profile] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[TargetAmuont] [numeric](18, 0) NULL,
	[MDPassword] [nvarchar](max) NULL,
	[EmpSkill] [nvarchar](250) NULL,
	[EmpType] [nvarchar](250) NULL,
	[Canlogin] [nvarchar](250) NULL,
	[CreditBalnceLimit] [numeric](18, 0) NULL,
	[TransactionPin] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_LoginDurationMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_LoginDurationMaster](
	[User_Id] [nvarchar](500) NOT NULL,
	[LoginFromTime] [nvarchar](500) NULL,
	[LoginToTime] [nvarchar](500) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](500) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_MailTemplateMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_MailTemplateMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_MainModule]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_MainModule](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](300) NOT NULL,
	[OrderNO] [numeric](18, 0) NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](300) NOT NULL,
	[Choice] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[CreateLink] [nvarchar](250) NULL,
	[FormName] [nvarchar](250) NULL,
	[Searching_Keyword] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_Module_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_Module_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FrmSelected] [bit] NOT NULL,
	[FormName] [nvarchar](300) NOT NULL,
	[CanSave] [bit] NOT NULL,
	[CanSearch] [bit] NOT NULL,
	[CanUpdate] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[RefModule] [nvarchar](500) NULL,
	[RefSubModule] [nvarchar](500) NULL,
	[NavigationModule] [nvarchar](500) NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](300) NOT NULL,
	[OrderNo] [numeric](18, 0) NULL,
	[NavigationModule_Order] [numeric](18, 0) NULL,
	[RefSubModule_Order] [numeric](18, 0) NULL,
	[Choice] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[Searching_Keyword] [nvarchar](250) NULL,
	[CreateLink] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_ModuleMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_ModuleMaster](
	[RID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[FrmSelected] [bit] NOT NULL,
	[FormName] [nvarchar](300) NOT NULL,
	[RefModule] [nvarchar](500) NULL,
	[MenuText] [nvarchar](500) NULL,
	[UpdatedOn] [smalldatetime] NOT NULL,
	[UpdatedBy] [nvarchar](300) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_OpertaorLoginReport]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_OpertaorLoginReport](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LoginId] [nvarchar](max) NULL,
	[SessionId] [nvarchar](max) NULL,
	[LoginTime] [datetime] NULL,
	[LogoutTime] [datetime] NULL,
	[OperatorName] [nvarchar](max) NULL,
	[TotalDuration] [nvarchar](max) NULL,
	[User_Type] [nvarchar](max) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_Plan_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_Plan_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[PlanCode] [nvarchar](250) NULL,
	[PlanName] [nvarchar](250) NULL,
	[BillingCycle] [nvarchar](250) NULL,
	[GracePeriodInDays] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [date] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_SentSMSDetails]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_SentSMSDetails](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SentDate] [datetime] NULL,
	[MobileNo] [nvarchar](max) NULL,
	[MessageDetails] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_SMSCategoryMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_SMSCategoryMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_SMSTemplateMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_SMSTemplateMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_StateMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_StateMaster](
	[Country_Name] [nvarchar](max) NULL,
	[State_Name] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[StateCode] [nvarchar](250) NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_SubCategoryMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_SubCategoryMaster](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ItemType_ID] [nvarchar](250) NULL,
	[ItemType_Group_ID] [nvarchar](250) NULL,
	[ItemType_SubGroup_ID] [nvarchar](250) NULL,
	[Item_Type] [nvarchar](250) NULL,
	[Group_Name] [nvarchar](250) NULL,
	[Sub_GroupName] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_SubModule]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_SubModule](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ModuleName] [nvarchar](300) NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](300) NOT NULL,
	[OrderNO] [numeric](18, 0) NULL,
	[RefSubModule] [nvarchar](max) NULL,
	[RefSubModule_Order] [numeric](18, 0) NULL,
	[url] [nvarchar](max) NULL,
	[Choice] [nvarchar](max) NULL,
	[CreateLink] [nvarchar](250) NULL,
	[FormName] [nvarchar](250) NULL,
	[Searching_Keyword] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CRM_UserRightsMaster]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CRM_UserRightsMaster](
	[User_Group] [nvarchar](300) NOT NULL,
	[FrmSelected] [bit] NOT NULL,
	[FormName] [nvarchar](300) NOT NULL,
	[CanSave] [bit] NOT NULL,
	[CanSearch] [bit] NOT NULL,
	[CanUpdate] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[RefModule] [nvarchar](500) NULL,
	[RefSubModule] [nvarchar](500) NULL,
	[NavigationModule] [nvarchar](500) NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](300) NOT NULL,
	[OrderNo] [numeric](18, 0) NULL,
	[NavigationModule_Order] [numeric](18, 0) NULL,
	[RefSubModule_Order] [numeric](18, 0) NULL,
	[Choice] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CreateLinkModule] [nvarchar](250) NULL,
	[CreateLinkSubModule] [nvarchar](250) NULL,
	[CreateLink] [nvarchar](250) NULL,
	[Searching_Keyword] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Insion_MLM_Product_Master]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insion_MLM_Product_Master](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](250) NULL,
	[ProductName] [nvarchar](250) NULL,
	[ProductPrice] [nvarchar](250) NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MoneyTransferBankList]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoneyTransferBankList](
	[Name] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
	[BankID] [float] NULL,
	[NEFT] [float] NULL,
	[IMPS] [float] NULL,
	[Verification] [float] NULL,
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recharge_API_DB_Info]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recharge_API_DB_Info](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[RecordDatetime] [datetime] NULL,
	[API_TransId] [nvarchar](250) NULL,
	[Recharge_TransId] [nvarchar](250) NULL,
	[API_status] [nvarchar](250) NULL,
	[API_resText] [nvarchar](500) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[DBName] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RechargeRefundCallback]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RechargeRefundCallback](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[API_OrderId] [nvarchar](250) NULL,
	[API_status] [nvarchar](300) NULL,
	[API_Msg] [nvarchar](max) NULL,
	[RecordDatetime] [datetime] NULL,
	[Refund_Status] [nvarchar](250) NULL,
	[Refund_TransID] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempDeletedTrans]    Script Date: 10/01/2020 6:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempDeletedTrans](
	[RID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TransactionDate] [date] NULL,
	[TransferFrom] [nvarchar](250) NOT NULL,
	[TransferTo] [nvarchar](250) NOT NULL,
	[TransferAmt] [numeric](18, 2) NULL,
	[RecordDateTime] [datetime] NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedOn] [datetime] NULL,
	[Remark] [nvarchar](max) NULL,
	[TransferFromMsg] [nvarchar](250) NULL,
	[Amount_Type] [nvarchar](250) NULL,
	[TransferToMsg] [nvarchar](250) NULL,
	[Amt_Transfer_TransID] [nvarchar](250) NULL,
	[Actual_Commission_Amt] [numeric](18, 2) NULL,
	[GSTAmt] [numeric](18, 2) NULL,
	[Commission_Without_GST] [numeric](18, 2) NULL,
	[TDS_Amt] [numeric](18, 2) NULL,
	[Net_Commission_Amt] [numeric](18, 2) NULL,
	[Ref_TransID] [nvarchar](250) NULL,
	[Actual_Transaction_Amount] [numeric](18, 2) NULL,
	[API_TransId] [nvarchar](250) NULL,
	[CompanyCode] [nvarchar](250) NULL,
	[TransIpAddress] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AutoNumber] ON 

SET IDENTITY_INSERT [dbo].[AutoNumber] OFF
SET IDENTITY_INSERT [dbo].[BOS_Admin_BankAccount_Master] ON 

INSERT [dbo].[BOS_Admin_BankAccount_Master] ([RID], [AccountHolder_Name], [AccountNo], [IFSC_Code], [Bank_Name], [BranchName], [AccountType], [PanNo], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(6 AS Numeric(18, 0)), N'BOS CENTER PVT. LTD.', N'102581300000105', N'YESB0001025', N'Yes Bank', N'Gurgaon', N'Current Account', N'AAICB5338D', N'ADMIN', CAST(0x0000ABC100D133DF AS DateTime), NULL)
INSERT [dbo].[BOS_Admin_BankAccount_Master] ([RID], [AccountHolder_Name], [AccountNo], [IFSC_Code], [Bank_Name], [BranchName], [AccountType], [PanNo], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(7 AS Numeric(18, 0)), N'BOS CENTER PVT. LTD.', N'46665655828383037361', N'YESB0CMSNOC', N'Online', N'Payment Getway', N'Current Account', N'AAICB5338D', N'ADMIN', CAST(0x0000ABC100D4AFE5 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[BOS_Admin_BankAccount_Master] OFF
SET IDENTITY_INSERT [dbo].[BOS_APICommissionSettigs] ON 

INSERT [dbo].[BOS_APICommissionSettigs] ([RID], [AgentType], [RegistrationID], [Recharge_APIPer], [Flight_APIPer], [PAN_APIPer], [MoneyTransfer_APIPer], [GST_APIPer], [BusBooking_APIPer], [Rail_APIPer], [updatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(1 AS Numeric(18, 0)), N'Super Admin', N'abc', CAST(0.00 AS Numeric(18, 2)), CAST(1.50 AS Numeric(18, 2)), CAST(-12.00 AS Numeric(18, 2)), CAST(-0.34 AS Numeric(18, 2)), CAST(2.00 AS Numeric(18, 2)), CAST(2.20 AS Numeric(18, 2)), CAST(0.50 AS Numeric(18, 2)), N'abc', CAST(0x0000AADB010E38BC AS DateTime), N'CMP1045')
INSERT [dbo].[BOS_APICommissionSettigs] ([RID], [AgentType], [RegistrationID], [Recharge_APIPer], [Flight_APIPer], [PAN_APIPer], [MoneyTransfer_APIPer], [GST_APIPer], [BusBooking_APIPer], [Rail_APIPer], [updatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(2 AS Numeric(18, 0)), N'Admin', N'ADMIN', CAST(1.50 AS Numeric(18, 2)), CAST(1.50 AS Numeric(18, 2)), CAST(6.00 AS Numeric(18, 2)), CAST(0.66 AS Numeric(18, 2)), CAST(2.00 AS Numeric(18, 2)), CAST(2.20 AS Numeric(18, 2)), CAST(0.50 AS Numeric(18, 2)), N'ADMIN', CAST(0x0000AB110123AC10 AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[BOS_APICommissionSettigs] OFF
SET IDENTITY_INSERT [dbo].[BOS_APIVSCategory_Master] ON 

INSERT [dbo].[BOS_APIVSCategory_Master] ([RID], [ProductService], [Category], [UpdatedBy], [UpdatedOn], [CanChange], [CompanyCode]) VALUES (CAST(3 AS Numeric(18, 0)), N'Recharge', N'Mobile', N'Admin', CAST(0x0000ABA600EAFD1A AS DateTime), N'No', N'CMP1045')
INSERT [dbo].[BOS_APIVSCategory_Master] ([RID], [ProductService], [Category], [UpdatedBy], [UpdatedOn], [CanChange], [CompanyCode]) VALUES (CAST(4 AS Numeric(18, 0)), N'Recharge', N'DTH', N'ADMIN', CAST(0x0000AB1300D47D0E AS DateTime), N'No', N'CMP1045')
INSERT [dbo].[BOS_APIVSCategory_Master] ([RID], [ProductService], [Category], [UpdatedBy], [UpdatedOn], [CanChange], [CompanyCode]) VALUES (CAST(5 AS Numeric(18, 0)), N'Recharge', N'Postpaid', N'ADMIN', CAST(0x0000AAFE010DA651 AS DateTime), N'No', N'CMP1045')
SET IDENTITY_INSERT [dbo].[BOS_APIVSCategory_Master] OFF
SET IDENTITY_INSERT [dbo].[BOS_APIVSCategory_Master_SA] ON 

INSERT [dbo].[BOS_APIVSCategory_Master_SA] ([RID], [ProductService], [Category], [UpdatedBy], [UpdatedOn]) VALUES (CAST(3 AS Numeric(18, 0)), N'Recharge', N'Mobile', N'Admin', CAST(0x0000ABA600EAFD1A AS DateTime))
INSERT [dbo].[BOS_APIVSCategory_Master_SA] ([RID], [ProductService], [Category], [UpdatedBy], [UpdatedOn]) VALUES (CAST(4 AS Numeric(18, 0)), N'Recharge', N'DTH', N'ADMIN', CAST(0x0000AB1300D47D0E AS DateTime))
INSERT [dbo].[BOS_APIVSCategory_Master_SA] ([RID], [ProductService], [Category], [UpdatedBy], [UpdatedOn]) VALUES (CAST(5 AS Numeric(18, 0)), N'Recharge', N'Postpaid', N'ADMIN', CAST(0x0000AAFE010DA651 AS DateTime))
SET IDENTITY_INSERT [dbo].[BOS_APIVSCategory_Master_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_ClientRegistration] ON 

SET IDENTITY_INSERT [dbo].[BOS_ClientRegistration] OFF
SET IDENTITY_INSERT [dbo].[BOS_CommissionSlabwise] ON 

SET IDENTITY_INSERT [dbo].[BOS_CommissionSlabwise] OFF
SET IDENTITY_INSERT [dbo].[BOS_CommissionSlabwise_SA] ON 

INSERT [dbo].[BOS_CommissionSlabwise_SA] ([RID], [APIName], [FromAmount], [ToAmount], [SA_CommissionType], [SA_Commission], [UpdatedBy], [UpdatedOn]) VALUES (CAST(6 AS Numeric(18, 0)), N'AEPS', CAST(0 AS Numeric(18, 0)), CAST(100 AS Numeric(18, 0)), N'Percentage', CAST(0.10 AS Numeric(18, 2)), N'ADMIN', CAST(0x0000AB530150F7AA AS DateTime))
INSERT [dbo].[BOS_CommissionSlabwise_SA] ([RID], [APIName], [FromAmount], [ToAmount], [SA_CommissionType], [SA_Commission], [UpdatedBy], [UpdatedOn]) VALUES (CAST(7 AS Numeric(18, 0)), N'AEPS', CAST(100 AS Numeric(18, 0)), CAST(500 AS Numeric(18, 0)), N'Percentage', CAST(0.11 AS Numeric(18, 2)), N'ADMIN', CAST(0x0000AB53015117D1 AS DateTime))
INSERT [dbo].[BOS_CommissionSlabwise_SA] ([RID], [APIName], [FromAmount], [ToAmount], [SA_CommissionType], [SA_Commission], [UpdatedBy], [UpdatedOn]) VALUES (CAST(8 AS Numeric(18, 0)), N'AEPS', CAST(500 AS Numeric(18, 0)), CAST(700 AS Numeric(18, 0)), N'Percentage', CAST(0.12 AS Numeric(18, 2)), N'ADMIN', CAST(0x0000AB5301513535 AS DateTime))
SET IDENTITY_INSERT [dbo].[BOS_CommissionSlabwise_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_CommissionSlabwiseVsAdmin_SA] ON 

INSERT [dbo].[BOS_CommissionSlabwiseVsAdmin_SA] ([RID], [AdminID], [APIName], [FromAmount], [ToAmount], [Admin_CommissionType], [Admin_Commission], [UpdatedBy], [UpdatedOn]) VALUES (CAST(12 AS Numeric(18, 0)), N'CMP1045', N'Money Transfer', CAST(100 AS Numeric(18, 0)), CAST(1000 AS Numeric(18, 0)), N'Amount', CAST(1.00 AS Numeric(18, 2)), N'SR1', CAST(0x0000ABB600F2C5DF AS DateTime))
INSERT [dbo].[BOS_CommissionSlabwiseVsAdmin_SA] ([RID], [AdminID], [APIName], [FromAmount], [ToAmount], [Admin_CommissionType], [Admin_Commission], [UpdatedBy], [UpdatedOn]) VALUES (CAST(13 AS Numeric(18, 0)), N'CMP1045', N'Money Transfer', CAST(1000 AS Numeric(18, 0)), CAST(1500 AS Numeric(18, 0)), N'Percentage', CAST(2.00 AS Numeric(18, 2)), N'SR1', CAST(0x0000ABB600F2CDD0 AS DateTime))
INSERT [dbo].[BOS_CommissionSlabwiseVsAdmin_SA] ([RID], [AdminID], [APIName], [FromAmount], [ToAmount], [Admin_CommissionType], [Admin_Commission], [UpdatedBy], [UpdatedOn]) VALUES (CAST(14 AS Numeric(18, 0)), N'CMP1045', N'Money Transfer', CAST(1500 AS Numeric(18, 0)), CAST(2000 AS Numeric(18, 0)), N'Amount', CAST(3.00 AS Numeric(18, 2)), N'SR1', CAST(0x0000ABB600F2D7A2 AS DateTime))
SET IDENTITY_INSERT [dbo].[BOS_CommissionSlabwiseVsAdmin_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_ComplaintVSProblem_Master] ON 

INSERT [dbo].[BOS_ComplaintVSProblem_Master] ([RID], [Product], [ProductProblem], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(5 AS Numeric(18, 0)), N'Bill Payment', N'Bill Payment - Failed / Refund', N'ADMIN', CAST(0x0000AAFF00B8AA96 AS DateTime), N'CMP1045')
INSERT [dbo].[BOS_ComplaintVSProblem_Master] ([RID], [Product], [ProductProblem], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(6 AS Numeric(18, 0)), N'Bus Booking', N'Bus Booking Problem', N'abc', CAST(0x0000AAFC00FED5E2 AS DateTime), N'CMP1045')
INSERT [dbo].[BOS_ComplaintVSProblem_Master] ([RID], [Product], [ProductProblem], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(7 AS Numeric(18, 0)), N'Flight Booking', N'Flight Booking Problem', N'abc', CAST(0x0000AAFC00FEF8EC AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[BOS_ComplaintVSProblem_Master] OFF
SET IDENTITY_INSERT [dbo].[BOS_ComplaintVSProblem_Master_SA] ON 

INSERT [dbo].[BOS_ComplaintVSProblem_Master_SA] ([RID], [Product], [ProductProblem], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(5 AS Numeric(18, 0)), N'Bill Payment', N'Bill Payment - Failed / Refund', N'ADMIN', CAST(0x0000AAFF00B8AA96 AS DateTime), N'CMP1045')
INSERT [dbo].[BOS_ComplaintVSProblem_Master_SA] ([RID], [Product], [ProductProblem], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(6 AS Numeric(18, 0)), N'Bus Booking', N'Bus Booking Problem', N'abc', CAST(0x0000AAFC00FED5E2 AS DateTime), N'CMP1045')
INSERT [dbo].[BOS_ComplaintVSProblem_Master_SA] ([RID], [Product], [ProductProblem], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(7 AS Numeric(18, 0)), N'Flight Booking', N'Flight Booking Problem', N'abc', CAST(0x0000AAFC00FEF8EC AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[BOS_ComplaintVSProblem_Master_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_OperatorWiseCommission] ON 

GO
SET IDENTITY_INSERT [dbo].[BOS_OperatorWiseCommission] OFF
SET IDENTITY_INSERT [dbo].[BOS_OperatorWiseCommission_SA] ON 

INSERT [dbo].[BOS_OperatorWiseCommission_SA] ([RID], [APIName], [Category], [Code], [OperatorName], [SA_CommissionType], [SA_Commission], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(6 AS Numeric(18, 0)), N'Recharge', N'Mobile', N'AR', N'AIRTEL', N'Percentage', CAST(1.80 AS Numeric(18, 2)), N'Active', N'SR', CAST(0x0000ABB80104460F AS DateTime))
INSERT [dbo].[BOS_OperatorWiseCommission_SA] ([RID], [APIName], [Category], [Code], [OperatorName], [SA_CommissionType], [SA_Commission], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(7 AS Numeric(18, 0)), N'Recharge', N'Mobile', N'BS', N'BSNL', N'Percentage', CAST(4.05 AS Numeric(18, 2)), N'Active', N'SR', CAST(0x0000ABB80104706B AS DateTime))
INSERT [dbo].[BOS_OperatorWiseCommission_SA] ([RID], [APIName], [Category], [Code], [OperatorName], [SA_CommissionType], [SA_Commission], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(8 AS Numeric(18, 0)), N'Recharge', N'Mobile', N'ID', N'IDEA', N'Percentage', CAST(3.15 AS Numeric(18, 2)), N'Active', N'SR', CAST(0x0000ABB80104962E AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BOS_OperatorWiseCommission_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA] ON 

INSERT [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA] ([RID], [AdminID], [APIName], [Category], [Code], [OperatorName], [Admin_CommissionType], [Admin_Commission], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(1194 AS Numeric(18, 0)), N'CMP1045', N'Recharge', N'Broadband', N'AFB', N'ACT FIBERNET', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Active', N'SR', CAST(0x0000ABC3012CE6FA AS DateTime))
INSERT [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA] ([RID], [AdminID], [APIName], [Category], [Code], [OperatorName], [Admin_CommissionType], [Admin_Commission], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(1195 AS Numeric(18, 0)), N'CMP1045', N'Recharge', N'Broadband', N'ABB', N'AIRTEL BROADBAND', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Active', N'SR', CAST(0x0000ABC3012CE6FA AS DateTime))
INSERT [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA] ([RID], [AdminID], [APIName], [Category], [Code], [OperatorName], [Admin_CommissionType], [Admin_Commission], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(1196 AS Numeric(18, 0)), N'CMP1045', N'Recharge', N'Broadband', N'CBB', N'CONNECT BROADBAND', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Active', N'SR', CAST(0x0000ABC3012CE6FA AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BOS_OperatorWiseCommissionVsAdmin_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_ProductServiceMaster] ON 

SET IDENTITY_INSERT [dbo].[BOS_ProductServiceMaster] OFF
SET IDENTITY_INSERT [dbo].[BOS_ProductServiceMaster_SA] ON 

INSERT [dbo].[BOS_ProductServiceMaster_SA] ([RID], [Title], [ProductType], [ContainCategory], [SlabApplicable], [SA_CommissionType], [SA_Commission], [ServiceType], [ServiceCharge], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(1 AS Numeric(18, 0)), N'Bus Booking', N'Service', N'Select Contain Category', N'Without Slab', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Active', N'Admin', CAST(0x0000AB9C0150896A AS DateTime))
INSERT [dbo].[BOS_ProductServiceMaster_SA] ([RID], [Title], [ProductType], [ContainCategory], [SlabApplicable], [SA_CommissionType], [SA_Commission], [ServiceType], [ServiceCharge], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(2 AS Numeric(18, 0)), N'Hotel Booking', N'Service', N'Select Contain Category', N'Without Slab', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Active', N'Admin', CAST(0x0000AB9C015085B6 AS DateTime))
INSERT [dbo].[BOS_ProductServiceMaster_SA] ([RID], [Title], [ProductType], [ContainCategory], [SlabApplicable], [SA_CommissionType], [SA_Commission], [ServiceType], [ServiceCharge], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(3 AS Numeric(18, 0)), N'Flight Booking', N'Service', N'Select Contain Category', N'Without Slab', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Active', N'Admin', CAST(0x0000ABB4012AA56F AS DateTime))
SET IDENTITY_INSERT [dbo].[BOS_ProductServiceMaster_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_ProductServiceVsAdmin_SA] ON 

INSERT [dbo].[BOS_ProductServiceVsAdmin_SA] ([RID], [AdminID], [Title], [ProductType], [ContainCategory], [SlabApplicable], [Admin_CommissionType], [Admin_Commission], [ServiceType], [ServiceCharge], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(5 AS Numeric(18, 0)), N'CMP1045', N'PanCard', N'API', N'No', N'Without Slab', N'Amount', CAST(25.00 AS Numeric(18, 2)), N'Amount', CAST(15.00 AS Numeric(18, 2)), N'Active', N'SR1', CAST(0x0000ABB600F21B92 AS DateTime))
INSERT [dbo].[BOS_ProductServiceVsAdmin_SA] ([RID], [AdminID], [Title], [ProductType], [ContainCategory], [SlabApplicable], [Admin_CommissionType], [Admin_Commission], [ServiceType], [ServiceCharge], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(6 AS Numeric(18, 0)), N'CMP1045', N'Money Transfer', N'API', N'No', N'With Slab', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Percentage', CAST(1.00 AS Numeric(18, 2)), N'Active', N'Admin', CAST(0x0000AB9C01504BE2 AS DateTime))
INSERT [dbo].[BOS_ProductServiceVsAdmin_SA] ([RID], [AdminID], [Title], [ProductType], [ContainCategory], [SlabApplicable], [Admin_CommissionType], [Admin_Commission], [ServiceType], [ServiceCharge], [ActiveStatus], [UpdatedBy], [UpdatedOn]) VALUES (CAST(7 AS Numeric(18, 0)), N'CMP1045', N'Recharge', N'API', N'Yes', N'Without Slab', N'Not Applicable', CAST(0.00 AS Numeric(18, 2)), N'Amount', CAST(0.00 AS Numeric(18, 2)), N'Active', N'Admin', CAST(0x0000ABA600E8FC80 AS DateTime))
SET IDENTITY_INSERT [dbo].[BOS_ProductServiceVsAdmin_SA] OFF
SET IDENTITY_INSERT [dbo].[BOS_Ref_Code_Master] ON 

SET IDENTITY_INSERT [dbo].[BOS_Ref_Code_Master] OFF
SET IDENTITY_INSERT [dbo].[CRM_BillingCycleMaster] ON 

INSERT [dbo].[CRM_BillingCycleMaster] ([RID], [Billig_Cycle], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(1 AS Numeric(18, 0)), N'Half Yearly', N'aa', CAST(0x413F0B00 AS Date), N'CMP1045')
INSERT [dbo].[CRM_BillingCycleMaster] ([RID], [Billig_Cycle], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(2 AS Numeric(18, 0)), N'Monthly', N'aa', CAST(0x413F0B00 AS Date), N'CMP1045')
INSERT [dbo].[CRM_BillingCycleMaster] ([RID], [Billig_Cycle], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(3 AS Numeric(18, 0)), N'Yearly', N'aa', CAST(0x413F0B00 AS Date), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_BillingCycleMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_BranchMaster] ON 

SET IDENTITY_INSERT [dbo].[CRM_BranchMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_CompanyTypeMaster] ON 

INSERT [dbo].[CRM_CompanyTypeMaster] ([RID], [Company_Type], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(1 AS Numeric(18, 0)), N'Pharma', N'aa', CAST(0x0000A96600C29CA6 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_CompanyTypeMaster] ([RID], [Company_Type], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(2 AS Numeric(18, 0)), N'Glass Industry', N'aa', CAST(0x0000A96600C2E2A2 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_CompanyTypeMaster] ([RID], [Company_Type], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(1 AS Numeric(18, 0)), N'Pharma', N'aa', CAST(0x0000A96600C29CA6 AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_CompanyTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_CountryMaster] ON 

INSERT [dbo].[CRM_CountryMaster] ([Country_Name], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'INDIA', N'aa', CAST(0x0000A5FC00F48D43 AS DateTime), CAST(1 AS Numeric(18, 0)), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_CountryMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_DistrictMaster] ON 

INSERT [dbo].[CRM_DistrictMaster] ([Country_Name], [State_Name], [District_Name], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'INDIA', N'UTTAR PRADESH', N'BASTI', N'AA', CAST(0x0000A9D600406908 AS DateTime), CAST(1 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_DistrictMaster] ([Country_Name], [State_Name], [District_Name], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'INDIA', N'CHANDIGARH', N'CHANDIGARH', N'AA', CAST(0x0000A9D600406908 AS DateTime), CAST(2 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_DistrictMaster] ([Country_Name], [State_Name], [District_Name], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'INDIA', N'MAHARASHTRA', N'CHANDRAPUR', N'AA', CAST(0x0000A9D600406908 AS DateTime), CAST(3 AS Numeric(18, 0)), N'CMP1045')
GO
SET IDENTITY_INSERT [dbo].[CRM_DistrictMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_EmployeeSkillMaster] ON 

INSERT [dbo].[CRM_EmployeeSkillMaster] ([Employee_Skill], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'Electrician', N'aa', CAST(0x0000A9CE0129CB59 AS DateTime), CAST(1 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_EmployeeSkillMaster] ([Employee_Skill], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'RO Technician', N'aa', CAST(0x0000A9CE0129D7C2 AS DateTime), CAST(2 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_EmployeeSkillMaster] ([Employee_Skill], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'Mechanical', N'aa', CAST(0x0000A9D100D9CB3E AS DateTime), CAST(3 AS Numeric(18, 0)), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_EmployeeSkillMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_EmployeeTypeMaster] ON 

INSERT [dbo].[CRM_EmployeeTypeMaster] ([Employee_Type], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'Back Office Employee', N'aa', CAST(0x0000A9CE01299C68 AS DateTime), CAST(1 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_EmployeeTypeMaster] ([Employee_Type], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'Sales Executive', N'abc', CAST(0x0000AAB900C815A8 AS DateTime), CAST(3 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_EmployeeTypeMaster] ([Employee_Type], [UpdatedBy], [UpdatedOn], [RID], [CompanyCode]) VALUES (N'Account Officer', N'ADMIN', CAST(0x0000AAE600CF9D64 AS DateTime), CAST(5 AS Numeric(18, 0)), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_EmployeeTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_Group_Master] ON 

INSERT [dbo].[CRM_Group_Master] ([RID], [Group_Name], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(44 AS Numeric(18, 0)), N'Super Admin', N'abc', CAST(0x0000AA0100000000 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_Group_Master] ([RID], [Group_Name], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(45 AS Numeric(18, 0)), N'Admin', N'abc', CAST(0x0000AA0100000000 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_Group_Master] ([RID], [Group_Name], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(47 AS Numeric(18, 0)), N'Sales', N'abc', CAST(0x0000AAB900000000 AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_Group_Master] OFF
SET IDENTITY_INSERT [dbo].[CRM_Login_Details] ON 

SET IDENTITY_INSERT [dbo].[CRM_Login_Details] OFF
SET IDENTITY_INSERT [dbo].[CRM_MainModule] ON 

INSERT [dbo].[CRM_MainModule] ([RID], [ModuleName], [OrderNO], [UpdatedOn], [UpdatedBy], [Choice], [url], [CreateLink], [FormName], [Searching_Keyword], [CompanyCode]) VALUES (CAST(70 AS Numeric(18, 0)), N'Channel Management', CAST(8 AS Numeric(18, 0)), CAST(0x0000AABF00000000 AS DateTime), N'abc', NULL, NULL, N'NO', N'', N'', N'CMP1045')
INSERT [dbo].[CRM_MainModule] ([RID], [ModuleName], [OrderNO], [UpdatedOn], [UpdatedBy], [Choice], [url], [CreateLink], [FormName], [Searching_Keyword], [CompanyCode]) VALUES (CAST(71 AS Numeric(18, 0)), N'Product Management', CAST(7 AS Numeric(18, 0)), CAST(0x0000AABF00000000 AS DateTime), N'abc', NULL, NULL, N'NO', N'', N'', N'CMP1045')
INSERT [dbo].[CRM_MainModule] ([RID], [ModuleName], [OrderNO], [UpdatedOn], [UpdatedBy], [Choice], [url], [CreateLink], [FormName], [Searching_Keyword], [CompanyCode]) VALUES (CAST(65 AS Numeric(18, 0)), N'Order Management', CAST(6 AS Numeric(18, 0)), CAST(0x0000AABF00000000 AS DateTime), N'abc', NULL, NULL, N'NO', N'', N'', N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_MainModule] OFF
SET IDENTITY_INSERT [dbo].[CRM_Module_Master] ON 

SET IDENTITY_INSERT [dbo].[CRM_Module_Master] OFF
SET IDENTITY_INSERT [dbo].[CRM_OpertaorLoginReport] ON 

INSERT [dbo].[CRM_OpertaorLoginReport] ([RID], [LoginId], [SessionId], [LoginTime], [LogoutTime], [OperatorName], [TotalDuration], [User_Type], [CompanyCode]) VALUES (CAST(24021 AS Numeric(18, 0)), N'DS-195', N'33674', CAST(0x0000AC4701296F99 AS DateTime), NULL, N'Manisha', NULL, N'Distributor', NULL)
SET IDENTITY_INSERT [dbo].[CRM_OpertaorLoginReport] OFF
SET IDENTITY_INSERT [dbo].[CRM_Plan_Master] ON 

INSERT [dbo].[CRM_Plan_Master] ([RID], [PlanCode], [PlanName], [BillingCycle], [GracePeriodInDays], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(6 AS Numeric(18, 0)), N'28', N'1 Year Plan', N'Yearly', N'7', N'aa', CAST(0x413F0B00 AS Date), N'CMP1045')
INSERT [dbo].[CRM_Plan_Master] ([RID], [PlanCode], [PlanName], [BillingCycle], [GracePeriodInDays], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(7 AS Numeric(18, 0)), N'30', N'2 Year Plan', N'Yearly', N'7', N'aa', CAST(0x413F0B00 AS Date), N'CMP1045')
INSERT [dbo].[CRM_Plan_Master] ([RID], [PlanCode], [PlanName], [BillingCycle], [GracePeriodInDays], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(8 AS Numeric(18, 0)), N'31', N'5 Year Plan', N'Yearly', N'7', N'aa', CAST(0x413F0B00 AS Date), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_Plan_Master] OFF
SET IDENTITY_INSERT [dbo].[CRM_SentSMSDetails] ON 

INSERT [dbo].[CRM_SentSMSDetails] ([RID], [SentDate], [MobileNo], [MessageDetails], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(0x0000A9E201809AA1 AS DateTime), N'9999180633', N'Testing Msg.', N'Admin', CAST(0x0000A9E201809AA1 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_SentSMSDetails] ([RID], [SentDate], [MobileNo], [MessageDetails], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(0x0000A9E20182516A AS DateTime), N'9999180633', N'hellooooo', N'Admin', CAST(0x0000A9E20182516A AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_SentSMSDetails] ([RID], [SentDate], [MobileNo], [MessageDetails], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(0x0000A9E201831293 AS DateTime), N'9999180633', N'this is testing msg..', N'Admin', CAST(0x0000A9E201831293 AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_SentSMSDetails] OFF
SET IDENTITY_INSERT [dbo].[CRM_SMSCategoryMaster] ON 

INSERT [dbo].[CRM_SMSCategoryMaster] ([RID], [Category], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(1 AS Numeric(18, 0)), N'transaction', N'ADMIN', CAST(0x0000AAD200000000 AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_SMSCategoryMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_StateMaster] ON 

INSERT [dbo].[CRM_StateMaster] ([Country_Name], [State_Name], [UpdatedBy], [UpdatedOn], [StateCode], [RID], [CompanyCode]) VALUES (N'INDIA', N'ANDHRA PRADESH', N'aa', CAST(0x0000A672010EFA1E AS DateTime), N'28', CAST(1 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_StateMaster] ([Country_Name], [State_Name], [UpdatedBy], [UpdatedOn], [StateCode], [RID], [CompanyCode]) VALUES (N'INDIA', N'ASSAM', N'aa', CAST(0x0000A672010EFA1E AS DateTime), N'18', CAST(2 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[CRM_StateMaster] ([Country_Name], [State_Name], [UpdatedBy], [UpdatedOn], [StateCode], [RID], [CompanyCode]) VALUES (N'INDIA', N'ARUNACHAL PRADESH', N'aa', CAST(0x0000A672010EFA1E AS DateTime), N'12', CAST(3 AS Numeric(18, 0)), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_StateMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_SubCategoryMaster] ON 

INSERT [dbo].[CRM_SubCategoryMaster] ([RID], [ItemType_ID], [ItemType_Group_ID], [ItemType_SubGroup_ID], [Item_Type], [Group_Name], [Sub_GroupName], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(69 AS Numeric(18, 0)), N'147', N'148', N'180', N'Finished Good', N'Electronics', N'Remote', N'abc', CAST(0x0000AA3B00DAAF65 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_SubCategoryMaster] ([RID], [ItemType_ID], [ItemType_Group_ID], [ItemType_SubGroup_ID], [Item_Type], [Group_Name], [Sub_GroupName], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(59 AS Numeric(18, 0)), N'147', N'148', N'153', N'Finished Good', N'Electronics', N'Laptop', N'abc', CAST(0x0000AA2A00C5D922 AS DateTime), N'CMP1045')
INSERT [dbo].[CRM_SubCategoryMaster] ([RID], [ItemType_ID], [ItemType_Group_ID], [ItemType_SubGroup_ID], [Item_Type], [Group_Name], [Sub_GroupName], [UpdatedBy], [UpdatedOn], [CompanyCode]) VALUES (CAST(60 AS Numeric(18, 0)), N'147', N'148', N'154', N'Finished Good', N'Electronics', N'Mobile', N'abc', CAST(0x0000AA2A00C5E141 AS DateTime), N'CMP1045')
SET IDENTITY_INSERT [dbo].[CRM_SubCategoryMaster] OFF
SET IDENTITY_INSERT [dbo].[CRM_SubModule] ON 

INSERT [dbo].[CRM_SubModule] ([RID], [ModuleName], [UpdatedOn], [UpdatedBy], [OrderNO], [RefSubModule], [RefSubModule_Order], [url], [Choice], [CreateLink], [FormName], [Searching_Keyword], [CompanyCode]) VALUES (CAST(304 AS Numeric(18, 0)), N'Master', CAST(0x0000ABA000000000 AS DateTime), N'SR1', CAST(2 AS Numeric(18, 0)), N'Add Notification Master', CAST(7 AS Numeric(18, 0)), NULL, NULL, N'YES', N'../Admin/BOS_Notification.aspx', N'Add Notification Master', NULL)
INSERT [dbo].[CRM_SubModule] ([RID], [ModuleName], [UpdatedOn], [UpdatedBy], [OrderNO], [RefSubModule], [RefSubModule_Order], [url], [Choice], [CreateLink], [FormName], [Searching_Keyword], [CompanyCode]) VALUES (CAST(305 AS Numeric(18, 0)), N'Client Settings', CAST(0x0000ABA800000000 AS DateTime), N'SR1', CAST(3 AS Numeric(18, 0)), N'Activate API', CAST(1 AS Numeric(18, 0)), NULL, NULL, N'YES', N'../Admin/SetAPI_Status_AdminWise.aspx', N'Activate API Client wise', NULL)
INSERT [dbo].[CRM_SubModule] ([RID], [ModuleName], [UpdatedOn], [UpdatedBy], [OrderNO], [RefSubModule], [RefSubModule_Order], [url], [Choice], [CreateLink], [FormName], [Searching_Keyword], [CompanyCode]) VALUES (CAST(307 AS Numeric(18, 0)), N'SA Masters', CAST(0x0000ABB400000000 AS DateTime), N'SR1', CAST(1 AS Numeric(18, 0)), N'Product Service Master', CAST(1 AS Numeric(18, 0)), NULL, NULL, N'YES', N'../Admin/BOS_ProductServiceMaster_SA.aspx', N'Product Service Master', NULL)
SET IDENTITY_INSERT [dbo].[CRM_SubModule] OFF
SET IDENTITY_INSERT [dbo].[CRM_UserRightsMaster] ON 

GO
SET IDENTITY_INSERT [dbo].[CRM_UserRightsMaster] OFF
SET IDENTITY_INSERT [dbo].[MoneyTransferBankList] ON 

INSERT [dbo].[MoneyTransferBankList] ([Name], [Code], [BankID], [NEFT], [IMPS], [Verification], [RID], [CompanyCode]) VALUES (N'Axis Bank', N'UTIB', 1, 1, 1, 1, CAST(1 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[MoneyTransferBankList] ([Name], [Code], [BankID], [NEFT], [IMPS], [Verification], [RID], [CompanyCode]) VALUES (N'Bank of Baroda', N'BARB', 2, 1, 1, 1, CAST(2 AS Numeric(18, 0)), N'CMP1045')
INSERT [dbo].[MoneyTransferBankList] ([Name], [Code], [BankID], [NEFT], [IMPS], [Verification], [RID], [CompanyCode]) VALUES (N'Bank of India', N'BKID', 3, 1, 1, 1, CAST(3 AS Numeric(18, 0)), N'CMP1045')
GO
SET IDENTITY_INSERT [dbo].[MoneyTransferBankList] OFF
USE [master]
GO
